<a href="/">
    <h1>LOGO</h1>
</a>

<hr>
<div>
    <li>학원 관리
        <ul>
            <li><a href="{% url 'register-academy' %}">학원 정보 등록</a></li>
            <li><a href="{% url 'register-teacher' %}">학원 선생님 등록</a></li>
            <li>학원 정보 조회</li>
            <li>학원 정보 수정</li>
        </ul>
    </li>
</div>
<div>
    <li>학생 관리
        <ul>
            <li>학생 정보 단체 등록</li>
            <li>학생 정보 개별 등록</li>
            <li>학생 정보 조회</li>
            <li>클래스 등록</li>
        </ul>
    </li>
</div>
<div>
    <li>모의고사
        <ul>
            <li>모의고사 조회</li>
            <li>모의고사 채점</li>
        </ul>
    </li>
</div>
<div>
    <li>모의고사 성적
        <ul>
            <li>모의고사 성적 조회</li>
            <li>개인 성적 조회</li>
        </ul>
    </li>
</div>